.padding-0 {
    padding-right: 0;
    padding-left: 1;
}
.forma {
  padding-top: 10px;
  position: relative;
  padding-bottom: 10px;
}
.around {
  width: 100%;
  text-align: center;
}
.form-inline {
  width: 100%;
}
